<%- include('partials/header', { title: 'Player Profile' }); %>
<body>
    <div id="container">
        <h1 class="text-center">PLAYER PROFILE</h1>
        <div class="text-center">
            <a href="/overview" class="btn">
                <i class="fa fa-arrow-left" title="Back"></i> 
                BACK
            </a>
        </div>
        <div class="container text-center">
            <hr />
            <div class="row profile-row">
                <div class="col-md-4">
                    <h6>RANK</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.rank %>
                    </p>
                </div>
                <div class="col-md-4">
                    <h6>NAME</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.name %>
                    </p>
                </div>
                <div class="col-md-4">
                    <h6>AGE</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.age %>
                    </p>
                </div>
            </div>
            <hr />
            <div class="row profile-row">
                <div class="col-md-4">
                    <h6>POINTS</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.points %>
                    </p>
                </div>
                <div class="col-md-4">
                    <h6>CURRENT TOURNAMENT</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.currentTournament %>
                    </p>
                </div>
                <div class="col-md-4">
                    <h6>PREVIOUS TOURNAMENT</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.previousTournament %>
                    </p>
                </div>
            </div>
            <hr />
            <div class="row profile-row">
                <div class="col-md-4">
                    <h6>NEXT POINTS</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.nextPoints %>
                    </p>
                </div>
                <div class="col-md-4">
                    <h6>MAX POINTS</h6>
                    <p class="site-detail-text">
                        <%= fullPlayerData.maxPoints %>
                    </p>
                </div>
                <div class="col-md-4">
                    <h6>PROFILE LINK</h6>
                    <p class="site-detail-text">          
                        <a href="<%= fullPlayerData.playerLink %>" target="_blank">GO TO PLAYER PROFILE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>